
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

header {
    margin-top: 60px;
    padding: 30px 0; 
    background-image:url('./images/back\ grounf\ image.avif');
    text-align: center;
}

header .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .profile-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.about {
    background-color: #ececec;
    padding: 20px 0; 
}

.about h2 {
    text-align: center; 
    margin-bottom: 15px; 
}

.about p {
    line-height: 1.6;
    font-size: 18px;
    color: #555;
}

.skills {
    padding: 20px 0; 
    background-color: #fff;
}

.skills h2 {
    text-align: center; 
    margin-bottom: 15px; 
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill {
    text-align: center;
    width: 100px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f4f4f4;
    transition: background-color 0.3s;
}

.skill i {
    font-size: 40px;
    margin-bottom: 10px;
}

.skill p {
    font-weight: bold;
    font-size: 16px;
}

.skill.java {
    background-color: #007396;
    color: white;
}

.skill.node-js {
    background-color: #8CC84B;
    color: white;
}

.skill.javascript {
    background-color: #F7DF1E;
    color: black;
}

.skill.mysql {
    background-color: #00618A;
    color: white;
}

.skill.css {
    background-color: #1572B6;
    color: white;
}

.skill.html {
    background-color: #E34F26;
    color: white;
}

.skill:hover {
    background-color: #ddd;
}


.projects {
    padding: 20px 0; 
    background-color: #f4f4f4;
}

.projects h2 {
    text-align: center; 
    margin-bottom: 15px; 
}

.project {
    margin-bottom: 15px; 
}

.project h3 {
    color: #333;
    font-size: 24px;
}

.project p {
    font-size: 18px;
    color: #555;
}

.education {
    padding: 20px 0; 
    background-color: #fff;
}

.education h2 {
    text-align: center; 
    margin-bottom: 15px; 
}

.education ul {
    list-style: none;
    padding: 0;
}

.education li {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact {
    padding: 20px 0; 
    background-color: #fff;
}

.contact h2 {
    text-align: center; 
    margin-bottom: 15px; 
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input,
.contact textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    padding: 10px 20px;
    background-color: #00960a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}